/* general */

.text--bold {
  font-weight: 700;
}

.text--headings {
  font-family: var(--font--headings);
}

.text--body {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1rem;
}

.block--padding {
  padding: 2rem 8%;
}

/* email and button */

.form__email-container {
  display: flex;
  gap: 1rem;
}

.email-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.email {
  width: 100%;
  min-height: 50px;
  padding: 0 2rem;
  border-radius: 4px;
  border: none;
}

.email::placeholder {
  color: var(--light-gray);
}

.error__email {
  border: 1px solid red;
}

.error__email:focus {
  outline: 1px solid red;
}

.button {
  min-width: 220px;
  height: 50px;

  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  background: var(--bright-blue);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.button:hover {
  cursor: pointer;
  filter: brightness(1.5);
}

.error__msg {
  color: red;
  font-size: 0.8rem;
}

/* nav */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__container {
  display: flex;
  gap: 2rem;
}

.nav__item:hover {
  cursor: pointer;
  color: var(--bright-blue);
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.header__img-wrapper {
  width: 50%;
}

.header__img {
  width: 100%;
}

.header__content {
  max-width: 600px;
  
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-size: 2.5rem;
}

/* divider */

.divider {
  height: 200px;

  background-image: url("./assets/images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
}

/* main */

.main {
  background-color: var(--light-grayish-blue);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;

  padding-bottom: 160px;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main__descriptions {
  max-width: 65%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main__cta {
  width: fit-content;
  padding-bottom: 4px;
  color: var(--moderate-cyan);
  border-bottom: 1px solid var(--moderate-cyan);

  display: flex;
  align-items: center;
  gap: 4px;
}

.main__cta:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.main__img-wrapper {
  width: 40%;
}

.main__img {
  width: 100%;
}

/* testimonial */

.testimonial {
  max-width: 370px;
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.testimonial__quotes-img {
  width: 1rem;
}

.testimonial__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonial__text {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.testimonial__avatar {
  width: 3rem;
  border-radius: 50%;
}

.testimonial__person-title {
  font-size: 0.8rem;
}

/* access */

.access {
  padding-top: 6rem;
  padding-bottom: 6rem;

  background: var(--desaturated-blue);
  color: white;

  display: flex;
  justify-content: center;
}

.access__wrapper {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
}

.access__content {
  max-width: 500px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h2 {
  font-size: 2rem;
}

.access__form {
  width: 40%;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.access__button {
  max-width: 300px;
}

/* footer */

.footer {
  background: var(--very-dark-blue);
  color: white;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding-top: 6rem;
  padding-bottom: 6rem;
}

.footer__content {
  display: flex;
  gap: 15%;
}

.footer__logo {
  width: 160px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(256deg) brightness(103%) contrast(102%);
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__contact-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon__img {
  width: auto;
  height: 1rem;
}

.footer__sitemap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sitemap__item:hover {
  cursor: pointer;
  color: var(--bright-blue);
}

.footer__socials {
  display: flex;
  gap: 1rem;
}

.social__icon {
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__icon:hover {
  cursor: pointer;
  color: var(--bright-blue);
  border: 1px solid var(--bright-blue);
}